<p id="notice"><%= notice %></p>

<table>
<thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>release_date</th>
        <th>genre</th>
        <th>MPAA_rating</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td><% @movie.id %></td>
        <td><% @movie.name %></td>
        <td><% @movie.release_date %></td>
        <td><% @movie.genre %></td>
        <td><% @movie.MPAA_rating %></td>
    </tr>
</tbody>
</table>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
