<div class="container">
    <h1 class="text-center">Movies. Tweets. $$$.</h1>
    <div class="page-header">
        <h1>Data:
            <small>what we got so far...</small>
        </h1>
    </div>
    <br>
    <h3>
        <a href="/movies">Movies</a>
    </h3>
    <h3>
        <a href="/keywords">Keywords</a>
    </h3>
    <h3>
        <a href="/financial_data">Financial Data</a>
    </h3>
    <h3>
        <a href="/tweets">Tweets</a>
    </h3>
    <h3>
        <a href="/genres">Genres</a>
    </h3>
</div>
