<div class="container">
    <p class="text-center">Goal</p>
    <p>
        As social media websites such as Twitter grow more popular, their trends and people’s use of twitter can provide some indicators for popular culture like movies.
        Sometimes, tweets influence other users and affect their choice of movies.
        Sharknado (2013) is an example which gained more popularity from social media and attracted more audience. 
        Therefore, not only movies affect trends on social media but also movies can earn more revenue from positive reactions from social media. 
    
    </p>
    <p>
        This project focuses on these interactions between the movie industry and social media.
        We aim to find relationships between a movie's popularity and how people react in social media about each movie. 
        This includes finding the most influential movie on social media in a certain period, movies that are rising in popularity on social media, movies that are discussed more in social media compared to the number of audience, and relationships between the popularity of movies in social media and their revenues in the future.
        Thus, we will make a database for movies, tweets about movies, and their relations.
    </p>
    <p>
        Once these data and relations about the size of the audience for each movie and about the number and popularity of tweets about each movie are provided, we expect that they can be considered good indicators of how much each movie will cause social reactions and how likely it is for the movie to be successful. 
        This could be useful to movie directors and producers who would want to predict how well the movie will do in order to take measures to boost the movie’s popularity. 
        It could also be helpful to other moviemakers who can study the data and try and learn why certain movies receive the hype that they do, and incorporate similar strategies when publicizing their own movies.
    </p>
    
    <p>tl;dr we want to see how movie popularity and tweets about those movies affect each other. </p>
</div>